@import "reset.scss";

$blue-bg: #131218;
$orange-bg: #CC7408;
$product-bg: #3B3A40;
$white: rgb(196, 196, 196);

.abhaya-libre-bold {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;   
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;   
}

  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;    
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;    
}
  
.open-sans{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;   
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;   
}
  
.doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;    
}
  
.taprom-regular {
    font-family: "Taprom", system-ui;
    font-weight: 400;
}
  
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;    
}
  
.abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.BackToStartPage{
    position: fixed;
    bottom: 20px;
    right: -120px;
    z-index: 10;
    transition: 0.5s ease;
}

.header{

    width: 100%;
    background-color: $blue-bg;
    display: flex;
    border-bottom: 0.06rem solid rgb(36, 36, 36);;
    
    
    &__headerContainer{

        margin: 0 auto;
        width: 100%;
        // max-width: 1400px;
        padding-bottom: 1vh;
        padding-top: 1vh;


        &__between{
            width: 100%;
            display: flex;
            justify-content: space-between;
    
            &__left{
    
                display: flex;
                margin-left: 42px;
                margin-top: 13px; 
                
                .your_city{
                    color: rgba(255, 255, 255, 0.13);
                    font-family: "ABeeZee";
                    font-size: 0.81rem;
                    font-weight: 400;
                    line-height: 0.94rem;
                    text-align: center;
                    margin-right: 10px;
                }
    
                .city{
                    color: rgba(255, 255, 255, 0.6);
                    font-family: "ABeeZee";
                    font-size: 0.81rem;
                    font-weight: 400;
                    line-height: 0.94rem;
                }
            }
    
            &__right{
              
                display: flex;
                align-items: center;
                margin-right: 42px;
                margin-top: 13px; 

                .phone{
                    margin-right: 6px;
                }

                a{
                    color: rgba(255, 255, 255, 0.6);
                    font-family: "ABeeZee";
                    font-size: 0.88rem;
                    font-weight: 400;
                    line-height: 1.06rem;
                    margin-right: 14.5px;
                }

                p{
                    color: rgba(255, 255, 255, 0.6);
                    font-family: "ABeeZee";
                    font-size: 0.88rem;
                    font-weight: 400;
                    line-height: 1.06rem;                  
                }

                .everyDay{
                    margin-right: 14.5px;
                }
            }
        }

        .header_center{
            
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            margin-top: -20px;

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 262px;

                li{
                    max-width: 262px;
                    align-items: center;
                }
            }
        }

    }
}

.sec1{

    background-color: $blue-bg;

    .content{

        display: flex;
        justify-content: space-between;
        padding-top: 76.5px;
        padding-bottom: 112px;
        position: relative;

        &__left{

            button{
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                font-family: "Open Sans";
                font-size: 0.88rem;
                font-weight: 400;
                line-height: 0.88rem;

                img{
                    margin-right: 8px;
                }
            }

        }

        &__right{

            .favourites{
                margin-right: 37px;
            }

        }
    }

    .center{

        

        &__up{

            display: flex;
            justify-content: center;
            
            &__logo{               
                position: absolute;
                top: 1vh;
            }
        }

        &__bottom{

            position: relative;
            display: flex;
            justify-content: center;
            padding-bottom: 22px;      

            ul{
                
                display: flex;
                width: 100%;
                max-width: 608px;
                justify-content: space-between;

                li{
                    max-width: 608px;
                    display: flex;
                    

                    a{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 0.88rem;
                        font-weight: 400;
                        line-height: 1.06rem;
                    }
                    
                    button{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 0.88rem;
                        font-weight: 400;
                        line-height: 1.06rem;
                    }
                }
            }

        }
    }
}

.sec2{

    background-color: $blue-bg;

    .container_slider{
        margin: 0 auto;
    }

    .slider{

        overflow: hidden;
        position: relative;

        .slides{

            transition: .8s ease-in-out;
            display: flex;
            position: relative;
            left: 0;

            .slide1{
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

            .slide2{
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

            .slide3{
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

            .slide4{
                width: 100vw;

                img{
                    width: 100vw;
                }
            }

        }

        &__buttons{

            top: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            transform: translate(0, -50%);
            

            &__img{
                width: 100%;
                max-width: 1130px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.sec3{

    .blue-bg{
        background-color: $blue-bg;
        padding-bottom: 585px;

        .part1{

            position: relative;
            display: flex;
            justify-content: center;
            
            .tabs{
                
                margin-top: 146px;
                position: absolute;
                display: grid;
                grid-template-columns: 520px 520px;
                grid-template-rows: 295.5px 295.5px;
                row-gap: 33.35px;
                column-gap: 19px;

                .tab-txt{
                    color: rgb(255, 255, 255);
                    font-family: "OpenSans";
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }

                .tab1{   
                    position: relative;

                    .bg{
                        background: url(../img/section3/tabs/tab1-bg.png);
                        background-size: cover;
                        background-repeat: no-repeat; 
                        height: 100%;
                        max-height: 296px; 
                        filter: brightness(50%);  
                        
                        button{
                            width: 100%;
                            height: 100%;
                            max-width: 520px;
                            max-height: 296px;
                        }
                    }                
                    .content{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        align-items: center;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        img{
                            margin-bottom: 35px;
                        }
                    }                 
                }

                .tab2{
                    position: relative;

                    .bg{
                        background: url(../img/section3/tabs/tab2-bg.png);
                        background-size: cover;
                        background-repeat: no-repeat; 
                        height: 100%;
                        max-height: 296px; 
                        filter: brightness(50%);

                        button{
                            width: 100%;
                            height: 100%;
                            max-width: 520px;
                            max-height: 296px;
                        }
                    }
                    
                    .content{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        align-items: center;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        img{
                            margin-bottom: 35px;
                        }
                    }
                }

                .tab3{                    
                    position: relative;

                    .bg{
                        background: url(../img/section3/tabs/tab3-bg.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        max-height: 296px; 
                        filter: brightness(50%);

                        button{
                            width: 100%;
                            height: 100%;
                            max-width: 520px;
                            max-height: 296px;
                        }
                    }
                    
                    .content{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        align-items: center;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        img{
                            margin-bottom: 35px;
                        }
                    }
                }

                .tab4{
                    position: relative;

                    .bg{
                        background: url(../img/section3/tabs/tab4-bg.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 100%;
                        max-height: 296px; 
                        filter: brightness(50%);

                        button{
                            width: 100%;
                            height: 100%;
                            max-width: 520px;
                            max-height: 296px;
                        }
                    }
                    
                    .content{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        align-items: center;
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        img{
                            margin-bottom: 35px;
                        }
                    }                   
                }
            }
        }
    }

    .orange-bg{

        background: $orange-bg;
        padding-top: 217px;

        .marcks{
            display: grid;
            justify-items: center;
            grid-auto-flow: column;
            grid-template-columns: 109px 160px 189px 128px 191px;
            grid-template-rows: 113px 155px;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.sec4{

    background-color: $blue-bg;

    h1{
        display: flex;
        justify-content: center;
        padding-top: 86px;
        padding-bottom: 15px;
        color: rgb(255, 255, 255);
        font-family: "Open Sans";
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 2.19rem;
    }
    
    .border{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    
        .line{
            width: 100%;
            max-width: 300px;
            border-bottom: 0.13rem solid rgb(216, 119, 0);
            
        }      
    }

    .slider{

        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .over-hidden{
            overflow: hidden;
        }

        &__slides{

            position: relative;
            display: flex;         
            width: 100%;
            max-width: 940px;
            transition: 1s ease-in-out;
            left: 0;

            .firstSlide{
                margin-left: 20px;
            }

            .product{
                margin-right: 20px;
                background-color: $product-bg;
                border-top-right-radius: 30%;
                border-top-left-radius: 30%;

                .content{
                    margin-left: 13px;

                    .type{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 0.88rem;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }

                    .name{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 20.15px;
                    }

                    &__bottom{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 11px;

                        .count{

                            .price{
                                position: relative;
                                color: rgba(255, 255, 255, 0.6);
                                font-family: "ABeeZee";
                                font-size: 0.88rem;
                                font-weight: 400;
                            }

                            .price:before{
                                content: '';
                                position: absolute;
                                top: 6px;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 2px;
                                background: rgb(177, 176, 179);
                                transform: rotate(10deg);
                            }

                            .sale-price{
                                color: rgb(255, 255, 255);
                                font-family: "ABeeZee";
                                font-size: 1.13rem;
                                font-weight: 400;
                            }
                        }

                        .score{

                            margin-right: 15px;

                            p{
                                color: rgba(255, 255, 255, 0.6);
                                font-family: "Roboto";
                                font-size: 0.88rem;
                                font-weight: 400;
                            }

                        }
                    }
                }
            }

            .product-last{
                background-color: $product-bg;
                border-top-right-radius: 30%;
                border-top-left-radius: 30%;
                // margin-right: 20px;

                .content{
                    margin-left: 13px;

                    .type{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 0.88rem;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }

                    .name{
                        color: rgb(255, 255, 255);
                        font-family: "ABeeZee";
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 20.15px;
                    }

                    &__bottom{
                        display: flex;
                        justify-content: space-between;

                        .count{

                            .price{
                                position: relative;
                                color: rgba(255, 255, 255, 0.6);
                                font-family: "ABeeZee";
                                font-size: 0.88rem;
                                font-weight: 400;
                            }

                            .price:before{
                                content: '';
                                position: absolute;
                                top: 6px;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 2px;
                                background: rgb(177, 176, 179);
                                transform: rotate(10deg);
                            }

                            .sale-price{
                                color: rgb(255, 255, 255);
                                font-family: "ABeeZee";
                                font-size: 1.13rem;
                                font-weight: 400;
                            }
                        }

                        .score{

                            margin-right: 15px;

                            p{
                                color: rgba(255, 255, 255, 0.6);
                                font-family: "Roboto";
                                font-size: 0.88rem;
                                font-weight: 400;
                            }

                        }
                    }
                }
            }

            .slide1{

                display: flex;

            }

            .slide2{

                display: flex;

            }

            .slide3{

                display: flex;

            }

            .slide4{

                display: flex;

            }

        }

        &__button{

            position: absolute;
            display: flex;
            width: 100%;
            top: 50%;
            align-items: center;
              
            .leftButton{
                position: absolute;
                left: 0;
            }

            .rightButton{
                position: absolute;
                right: 0;
            }
        }

        &__indicates{

            display: flex;
            justify-content: center;
            margin-top: 22px;        
            padding-bottom: 65px;    

            .indicate{
                width: 40px;
                height: 5px;
                background-color: #3B3A40;
                margin-right: 20px;
            }

            .lastIndicate{
                width: 40px;
                height: 5px;
                background-color: #3B3A40;

            }

            .active{
                background-color: #C4C4C4;
            }
        }
    }
}

.sec5{
    
    background-color: $blue-bg;
    padding-bottom: 134px;

    .plates-container{
        max-width: 938px;
        margin: 0 auto;
    }

    .sec5-container{
        max-width: 1152px;
        margin: 0 auto;
    }

    .BackToStartPage{
        display: flex;
        justify-content: end;
    }

    h2{
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: "ABeeZee";
        font-size: 2.25rem;
        font-weight: 400;
    }

    .border{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    
        .line{
            width: 100%;
            max-width: 300px;
            border-bottom: 0.13rem solid rgb(216, 119, 0);
            
        }      
    }

    .plates{

        display: flex;
        justify-content: space-between;

        .hidden{
            display: none;
        }

        .plates1{

            position: relative;
            display: flex;
            justify-content: center;
            background: url(../img/section5/Studing-bg.png);        
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 400px;
            
            .button{
                max-width: 300px;
                width: 100%;

                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 304px;
                    max-width: 300px;
                    width: 100%;
                    padding: 30px 0px;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2.19rem;
                    background: rgba(19, 18, 24, 0.8);
                }
            }
            
            .content{

                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s ease;

                .bg{
                    position: absolute;
                    background: rgba(19, 18, 24, 0.8);
                    width: 100%;
                    height: 100%;
                    max-width: 300px;
                    max-height: 310px;
                }
    
                p{  
                    position: absolute;
                    left: 32px;
                    width: 100%;
                    height: 100%;
                    max-width: 12.50rem;
                    max-height: 14.75rem;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 400;
                    line-height: 1.88rem;
                    margin-top: 17px;
                }
    
                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 310px;
                    width: 100%;
                    max-width: 300px;            
                    padding: 30px 0;
                    color: $orange-bg;
                    color: rgb(234, 131, 5);
                    background: rgba(19, 18, 24, 0.8);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 200;
                    line-height: 1.88rem;               
                }
            }
            
        
        }

        .plates2{

            display: flex;
            justify-content: center;
            background: url(../img/section5/Service.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 400px;
            position: relative;

            .button{
                max-width: 300px;
                width: 100%;

                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 304px;
                    max-width: 300px;
                    width: 100%;
                    padding: 30px 0px;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2.19rem;
                    background: rgba(19, 18, 24, 0.8);
                }
            }
            
            .content{

                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s ease;

                .bg{
                    position: absolute;
                    background: rgba(19, 18, 24, 0.8);
                    width: 100%;
                    height: 100%;
                    max-width: 300px;
                    max-height: 310px;
                }
    
                p{  
                    position: absolute;
                    left: 32px;
                    width: 100%;
                    height: 100%;
                    max-width: 12.50rem;
                    max-height: 14.75rem;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 400;
                    line-height: 1.88rem;
                    margin-top: 17px;
                }
    
                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 310px;
                    width: 100%;
                    max-width: 300px;            
                    padding: 30px 0;
                    color: $orange-bg;
                    color: rgb(234, 131, 5);
                    background: rgba(19, 18, 24, 0.8);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 200;
                    line-height: 1.88rem;               
                }
            }
        }

        .plates3{

            display: flex;
            justify-content: center;
            background: url(../img/section5/Fix.png);
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 400px;
            
            .button{
                max-width: 300px;
                width: 100%;

                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 304px;
                    max-width: 300px;
                    width: 100%;
                    padding: 30px 0px;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2.19rem;
                    background: rgba(19, 18, 24, 0.8);
                }
            }
            
            .content{

                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s ease;

                .bg{
                    position: absolute;
                    background: rgba(19, 18, 24, 0.8);
                    width: 100%;
                    height: 100%;
                    max-width: 300px;
                    max-height: 310px;
                }
    
                p{  
                    position: absolute;
                    left: 32px;
                    width: 100%;
                    height: 100%;
                    max-width: 12.50rem;
                    max-height: 14.75rem;
                    color: rgb(255, 255, 255);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 400;
                    line-height: 1.88rem;
                    margin-top: 17px;
                }
    
                button{
                    display: flex;
                    justify-content: center;
                    margin-top: 310px;
                    width: 100%;
                    max-width: 300px;            
                    padding: 30px 0;
                    color: $orange-bg;
                    color: rgb(234, 131, 5);
                    background: rgba(19, 18, 24, 0.8);
                    font-family: "ABeeZee";
                    font-size: 1.13rem;
                    font-weight: 200;
                    line-height: 1.88rem;               
                }
            }
        }

        .plates1:hover .content{
            visibility: visible;
            opacity: 1;
        }

        .plates1:hover .button{
            visibility: hidden;
        }

        .plates2:hover .content{
            visibility: visible;
            opacity: 1;
        }

        .plates2:hover .button{
            visibility: hidden;
        }

        .plates3:hover .content{
            visibility: visible;
            opacity: 1;
        }

        .plates3:hover .button{
            visibility: hidden;
        }
    }
}

.sec6{

    position: relative;
    background: $blue-bg;
    position: relative;
    padding-bottom: 141px;

    .bg{
        margin-left: -150px;
        position: relative;
        
        .filter{
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .sec6-container{
        max-width: 1152px;
        margin: 0 auto;    
        display: flex;
        justify-content: end;
        
        form{

            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 43px;         
            width: 100%;
            height: 100%;
            max-width: 620px; 
            height: 258px;  
            background-color: #FCF7F2;
            border-radius: 20px 20px;

            .name{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 36px;

                .p1{
                    color: rgb(59, 58, 64);
                    font-family: "Roboto";
                    font-size: 1.13rem;
                    font-weight: 600;
                    line-height: 1.44rem;
                }

                h2{
                    margin-top: -10px;
                    color: rgb(204, 116, 8);
                    font-family: "Doppio One";
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: 3.75rem;
                }

                .p2{
                    margin-top: -10px;
                    color: rgb(191, 185, 177);
                    font-family: "Roboto";
                    font-size: .95rem;
                    font-weight: 400;
                    line-height: 1.13rem;
                    letter-spacing: 0%;
                }
            }

            .input{

                display: flex;
                justify-content: center;

                .inp{

                    margin-right: 11px;

                    input{
                        width: 100%;
                        height: 100%;
                        max-width: 452px;
                        height: 43px;
                        border: 0;
                        border-radius: 0.31rem;
                        box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
                        background: rgb(242, 234, 224);
                        
                        text-indent: 20px;
                        font-family: "Doppio One";
                        font-size: 1.13rem;
                        font-weight: 400;
                    }

                    p{
                        color: rgb(225, 220, 213);
                        font-family: "ABeeZee";
                        font-weight: 400;
                        font-style: italic;
                        margin-top: 6px;
                    }
                }

                
    
                button{
                    width: 77px;
                    max-height: 43px;
                    background-color: $orange-bg;
                    border-radius: 0.31rem;
                }

            }
        }
    }   
}

footer{

    background: $blue-bg;
    padding-top: 31px;
    border-top:0.13rem solid rgb(36, 36, 36);;

    .content{
        display: flex;
        justify-content: space-between;

        .leftSide{

            .main{

                margin-bottom: 54px;

                img{
                    margin-left: -13px;
                }

                p{
                    color: white;
                    font-family: "Roboto";
                    font-size: 1.13rem;
                    font-weight: 400;
                    line-height: 1.44rem;
                    letter-spacing: 0%;
                }
            }

            .quetions{
                padding-bottom: 20px;

                .tel{

                    padding-bottom: 40px;

                    p{
                        color: $white;
                        font-family: "Roboto";
                        font-size: 1.13rem;
                        font-weight: 400;
                        line-height: 0rem;
                        letter-spacing: 0%;
                        padding-bottom: 20px;
                    }

                    a{
                        color: $white;
                        font-family: "ABeeZee";
                        font-size: 1.13rem;
                        font-weight: 600;
                        line-height: 0rem;
                        letter-spacing: 3px;
                    }
                }

                .schedule{
                    p{
                        color: $white;
                        font-family: "Roboto";
                        font-size: 1.13rem;
                        font-weight: 400;
                        line-height: 0rem;
                        letter-spacing: 0%;
                        padding-bottom: 15px;
                    }

                    a{
                        color: $white;
                        font-family: "ABeeZee";
                        font-size: 1.13rem;
                        font-weight: 400;
                        line-height: 0rem;
                        
                    }
                }
            }

            .Media{
                ul{
                    display: flex;
                    margin-bottom: 32px;
                    align-items: center;

                    li{
                        margin-right: 20px;
                        filter: brightness(70%);
                    }
                }
            }

            .payment{

                padding-bottom: 167px;

                p{
                    color: $white;
                    font-family: "Roboto";
                    font-size: 1.13rem;
                    font-weight: 400;
                    line-height: 0rem;
                    letter-spacing: 0%;
                    padding-bottom: 15px;
                }
                ul{
                    display: flex;
                    margin-bottom: 32px;
                    align-items: center;

                    .otstup{
                        margin-right: 2px;
                    }
                }
            }

            .confid{
                max-width: 24.75rem;
                p{
                    color: $white;
                    font-family: "ABeeZee";
                    font-size: 0.9rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
        }

        .RightSide{

            display: flex;
            flex-direction: column;
            
            .top{
                display: flex;
                justify-content: center;
                margin-bottom: 92px;

                .catalog{
                    margin-right: 45px;

                    h2{
                        color: $white;
                        font-family: "ABeeZee";
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        padding-bottom: 10px;
                    }
                    ul{
                        li{
                            a{
                                color: rgb(196, 196, 196);
                                font-family: "ABeeZee";
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.31rem;
                            }                         
                        }
                    }
                }
                
                .service{

                    margin-right: 63px;

                    h2{
                        color: $white;
                        font-family: "ABeeZee";
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        padding-bottom: 10px;
                    }
                    ul{
                        li{
                            a{
                                color: rgb(196, 196, 196);
                                font-family: "ABeeZee";
                                ffont-size: 1rem;
                                font-weight: 400;
                                line-height: 1.31rem;
                            }                         
                        }
                    }
                }

                .services{
                    h2{
                        color: $white;
                        font-family: "ABeeZee";
                        font-size: 1.5rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        padding-bottom: 10px;
                    }
                    ul{
                        li{
                            a{
                                color: rgb(196, 196, 196);
                                font-family: "ABeeZee";
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.31rem;
                            }                         
                        }
                    }
                }
            }
        }
    }

}