* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

@font-face {
  font-family: "ABeeZeeItalic";
  src: url("../../fonts/ABeeZee/ABeeZee-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Abhaya Libre";
  src: url("../../fonts/Abhaya/AbhayaLibre-Bold.ttf");
}
@font-face {
  font-family: "DoppioOne";
  src: url("../../fonts/DoppioOne/DoppioOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Sans/Sans-Regular.ttf");
}
@font-face {
  font-family: "Sansation";
  src: url("../../fonts/Sansation/Sansation_Regular.ttf");
}
@font-face {
  font-family: "Taprom";
  src: url("../../fonts/Taprom/Taprom-Regular.ttf");
}
.hidden {
  display: none !important;
}

.rotate {
  transform: rotate(90deg);
  transition: 0.2s ease;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #131218;
  display: flex;
  border-bottom: 0.06rem solid rgb(36, 36, 36);
}
.header__headerContainer {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.header__headerContainer__between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__headerContainer__between__left {
  z-index: 2;
  display: flex;
  margin-left: 42px;
  margin-top: 13px;
}
.header__headerContainer__between__left .your_city {
  color: rgba(255, 255, 255, 0.13);
  font-family: "ABeeZee";
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 0.94rem;
  text-align: center;
  margin-right: 10px;
}
.header__headerContainer__between__left .city {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 0.94rem;
}
.header__headerContainer__between__right {
  z-index: 2;
  display: flex;
  align-items: center;
  margin-right: 42px;
  margin-top: 13px;
}
.header__headerContainer__between__right .phone {
  margin-right: 6px;
}
.header__headerContainer__between__right a {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
  margin-right: 14.5px;
}
.header__headerContainer__between__right p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.header__headerContainer__between__right .everyDay {
  margin-right: 14.5px;
}
.header__headerContainer .header_center {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.header__headerContainer .header_center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 262px;
}
.header__headerContainer .header_center ul li {
  max-width: 262px;
  align-items: center;
}

.sec1 {
  background-color: #131218;
}
.sec1 .container .content {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec1 .container .content .left {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec1 .container .content .left .breadcrumb {
  display: flex;
  margin-top: -40px;
  margin-bottom: 30px;
}
.sec1 .container .content .left .breadcrumb li {
  margin-right: 5px;
}
.sec1 .container .content .left .breadcrumb li a {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec1 .container .content .right {
  width: 100%;
  display: flex;
  justify-content: end;
}
.sec1 .container .content .right .input {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.sec1 .container .content .right .input button {
  align-items: center;
  position: relative;
  left: 28px;
  top: 2px;
}
.sec1 .container .content .right .input input {
  background: url("../../img/catalogImg/section1/loop.svg");
  margin-right: 14px;
  width: 100%;
  max-width: 840px;
  height: 40px;
  border: 0;
  border-radius: 0.31rem;
  background: rgb(72, 71, 76);
  text-indent: 36px;
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
  letter-spacing: 0;
}
.sec1 .container .content .right input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.sec1 .container .content .right .heart {
  margin-right: 14px;
}
.sec1 .container .content .right .loop {
  margin-right: 15px;
}
.sec1 .container .content .right .burgerButton {
  display: none;
}
.sec1 .container .listMenu {
  display: flex;
  justify-content: center;
}
.sec1 .container .listMenu ul {
  display: flex;
  width: 100%;
  max-width: 608px;
  justify-content: space-between;
  margin-top: -185px;
}
.sec1 .container .listMenu ul li {
  max-width: 608px;
  display: flex;
  align-items: center;
}
.sec1 .container .listMenu ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec1 .container .listMenu ul li button {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec1 .container .burger__container {
  max-width: 90vw;
  margin: 0 auto;
}
.sec1 .container .burger__container__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.sec1 .container .burger__container__top__left img {
  margin-left: -5px;
}
.sec1 .container .burger__container__top__left P {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Roboto";
  font-size: 0.56rem;
  font-weight: 400;
  line-height: 0.69rem;
}
.sec1 .container .burger__container__bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 287px;
}
.sec1 .container .burger__container__bottom__big_ul {
  margin-bottom: 10px;
}
.sec1 .container .burger__container__bottom__big_ul li:first-child a {
  color: rgb(234, 131, 5);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.31rem;
}
.sec1 .container .burger__container__bottom__big_ul li {
  margin-bottom: 5px;
}
.sec1 .container .burger__container__bottom__big_ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.31rem;
}
.sec1 .container .burger__container__bottom__small_ul li {
  margin-bottom: 10px;
}
.sec1 .container .burger__container__bottom__small_ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.sec2 {
  background-color: #131218;
}
.sec2 .sec2-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.sec2 .sec2-container__leftSide {
  margin-left: 30px;
  padding-bottom: 30px;
}
.sec2 .sec2-container__leftSide .filtersButton {
  display: none;
}
.sec2 .sec2-container__leftSide .names {
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec2 .sec2-container__leftSide .names .catalog {
  margin-right: 50px;
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.19rem;
}
.sec2 .sec2-container__leftSide .names .filters {
  color: #CC7408;
  font-family: ABeeZee;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.19rem;
}
.sec2 .sec2-container__leftSide .filters .guitar-list {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name {
  width: 100%;
  max-width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name button {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name img {
  max-width: 10px;
  transition: 0.2s ease;
  transform: rotate(0);
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name__guitars {
  margin-top: 20px;
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name__guitars li {
  margin-top: 5px;
  margin-left: 5px;
}
.sec2 .sec2-container__leftSide .filters .guitar-list__name__guitars li a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.88rem;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name {
  width: 100%;
  max-width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name button {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name img {
  max-width: 10px;
  transition: 0.2s ease;
  transform: rotate(0);
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name__ukulele {
  margin-top: 20px;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name__ukulele li {
  margin-top: 5px;
  margin-left: 5px;
}
.sec2 .sec2-container__leftSide .filters .ukuleles-list__name__ukulele li a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.88rem;
}
.sec2 .sec2-container__leftSide .filters .accessories-list {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name {
  width: 100%;
  max-width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name button {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name img {
  max-width: 10px;
  transition: 0.2s ease;
  transform: rotate(0);
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name__accessories {
  margin-top: 20px;
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name__accessories li {
  margin-top: 5px;
  margin-left: 5px;
}
.sec2 .sec2-container__leftSide .filters .accessories-list__name__accessories li a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.88rem;
}
.sec2 .sec2-container__leftSide .filters .strings-list {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sec2 .sec2-container__leftSide .filters .strings-list__name {
  width: 100%;
  max-width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec2-container__leftSide .filters .strings-list__name button {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec2 .sec2-container__leftSide .filters .strings-list__name img {
  max-width: 10px;
  transition: 0.2s ease;
  transform: rotate(0);
}
.sec2 .sec2-container__leftSide .filters .strings-list__name__strings {
  margin-top: 20px;
}
.sec2 .sec2-container__leftSide .filters .strings-list__name__strings li {
  margin-top: 5px;
  margin-left: 5px;
}
.sec2 .sec2-container__leftSide .filters .strings-list__name__strings li a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.88rem;
}
.sec2 .sec2-container__leftSide .filters .price-inputs__label {
  display: flex;
  flex-direction: column;
}
.sec2 .sec2-container__leftSide .filters .price-inputs__label__price-input {
  max-width: 200px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #CC7408;
  color: #CC7408;
  background-color: #131218;
  border-radius: 3px;
  padding-left: 15px;
}
.sec2 .sec2-container__leftSide .filters .price-inputs__label__apply {
  max-width: 220px;
  height: 30px;
  width: 100%;
  background-color: #CC7408;
  color: #131218;
  font-size: 15px;
  border-radius: 3px;
}
.sec2 .sec2-container__rightSide {
  width: 100%;
  margin-left: 40px;
}
.sec2 .sec2-container__rightSide__top {
  width: 100%;
  max-width: 927px;
  display: flex;
  justify-content: center;
}
.sec2 .sec2-container__rightSide__top .mobileSort {
  display: none;
}
.sec2 .sec2-container__rightSide__top .center {
  width: 100%;
  max-width: 927px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}
.sec2 .sec2-container__rightSide__top .center p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec2 .sec2-container__rightSide__top .center label {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
}
.sec2 .sec2-container__rightSide__top .center label span {
  width: 25px;
  height: 25px;
}
.sec2 .sec2-container__rightSide__top .center label .checkbox {
  display: none;
  background-color: #3B3A40;
  box-sizing: border-box;
  border: 0.06rem solid rgb(161, 160, 163);
  border-radius: 0.31rem;
}
.sec2 .sec2-container__rightSide__top .center label .fake::before {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box;
  border: 0.06rem solid rgb(161, 160, 163);
  border-radius: 0.31rem;
}
.sec2 .sec2-container__rightSide__top .center label .checkbox:checked + .fake::before {
  border-color: #CC7408;
  background-image: url("../../img/catalogImg/section2/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.sec2 .sec2-container__rightSide__top .sort-list {
  display: flex;
  align-items: center;
  position: relative;
}
.sec2 .sec2-container__rightSide__top .sort-list button {
  margin-left: 6px;
  width: 180px;
  height: 25px;
  background-color: #3B3A40;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.6);
}
.sec2 .sec2-container__rightSide__top .sort-list button:hover + .sort, .sec2 .sec2-container__rightSide__top .sort-list .sort:hover {
  visibility: visible;
  opacity: 1;
}
.sec2 .sec2-container__rightSide__top .sort-list .sort {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
  position: absolute;
  top: 30px;
  right: 0px;
}
.sec2 .sec2-container__rightSide__top .sort-list .sort li {
  width: 180px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #3B3A40;
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
  padding-bottom: 10px;
  padding-top: 10px;
}
.sec2 .sec2-container__rightSide__top .sort-list .sort li button {
  display: flex;
}
.sec2 .sec2-container__rightSide__top .sort-list .sort li span {
  margin-left: 10px;
}
.sec2 .sec2-container__rightSide__top .sort-number {
  display: flex;
  align-items: center;
}
.sec2 .sec2-container__rightSide__top .sort-number input {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 5px;
  border: 0;
  width: 60px;
  height: 25px;
  border-radius: 0.31rem;
  background: rgba(196, 196, 196, 0.3);
}
.sec2 .sec2-container__rightSide__top .sort-number input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.sec2 .sec2-container__rightSide__top .sort-number input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.sec2 .sec2-container__rightSide__top .vue-type {
  margin-right: 20px;
}
.sec2 .sec2-container__rightSide__top .vue-type .grid img {
  width: 1.45rem;
}
.sec2 .sec2-container__rightSide__top .vue-type .list img {
  width: 2.3rem;
}
.sec2 .sec2-container__rightSide__bottom {
  margin-top: 30px;
  margin-bottom: 178px;
  margin-right: 30px;
}
.sec2 .sec2-container__rightSide__bottom .mobileProducts {
  display: none;
}
.sec2 .sec2-container__rightSide__bottom .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.sec2 .sec2-container__rightSide__bottom .products .product {
  height: 410px;
  width: 220px;
  margin-right: 20px;
  background-color: #3B3A40;
  overflow: hidden;
}
.sec2 .sec2-container__rightSide__bottom .products .product__imgContainer {
  width: 220px;
  height: 284px;
  overflow: hidden;
  border-bottom-right-radius: 30%;
  margin-bottom: 10px;
}
.sec2 .sec2-container__rightSide__bottom .products .product__imgContainer__img {
  cursor: pointer;
  width: 220px;
  height: 284px;
  transition: 0.1s ease;
}
.sec2 .sec2-container__rightSide__bottom .products .product .product__imgContainer__img:hover {
  transform: scale(1.1);
}
.sec2 .sec2-container__rightSide__bottom .products .product .content {
  margin-left: 13px;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content .type {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content .name {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20.15px;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11px;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom .count .price {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom .count .price:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(177, 176, 179);
  transform: rotate(10deg);
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom .count .sale-price {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom .score {
  margin-right: 15px;
}
.sec2 .sec2-container__rightSide__bottom .products .product .content__bottom .score p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product {
  display: flex;
  margin-bottom: 15px;
  max-height: 340px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product form {
  margin-bottom: 0;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__left {
  margin-right: 15px;
  width: 100%;
  height: 100%;
  max-width: 256px;
  max-height: 340px;
  overflow: hidden;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__left img {
  width: 100%;
  height: 100%;
  max-width: 256px;
  max-height: 340px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__left img:hover {
  transform: scale(1.1);
}
.sec2 .sec2-container__rightSide__bottom .list-product .product .first {
  border-radius: 0rem 0rem 2.5rem 0rem !important;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product .lastProduct {
  border-radius: 0rem 2.5rem 0rem 0rem !important;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 0rem 2.5rem 2.5rem 0rem;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__top__left {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__top__left a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__top__left .name {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__top__right {
  margin-right: 34px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom {
  margin-left: 10px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__top {
  margin-bottom: 13px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__top p {
  color: rgb(255, 255, 255);
  font-family: "OpenSans";
  font-size: 1.3rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom {
  display: flex;
  margin-bottom: 10px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .photos img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 140px;
  margin-right: 5px;
  opacity: 40%;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .photos img:hover {
  transform: scale(1.1);
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .nonActiveBuscket .basketButton {
  box-sizing: border-box;
  border: 0.06rem solid rgba(255, 255, 255, 0.6);
  border-radius: 0.31rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(173, 173, 175);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  width: 155px;
  height: 40px;
  margin-left: 13px;
  margin-right: 15px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .nonActiveBuscket .basketButton img {
  margin-right: 7px;
  margin-left: -25px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .ActiveBuscket .basketButton {
  box-sizing: border-box;
  border-radius: 0.31rem;
  background: rgba(255, 214, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  width: 155px;
  height: 40px;
  margin-left: 13px;
  margin-right: 15px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .basketButton:hover {
  border: 0.06rem solid rgba(255, 214, 0, 0.6);
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .comparison {
  color: rgba(173, 173, 175, 0.6);
  font-family: "ABeeZee";
  font-style: italic;
  font-size: 0.88rem;
  font-weight: 400;
  margin-top: 5px;
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom__bottom .bascket .comparison:hover {
  color: rgba(255, 214, 0, 0.6);
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom .inStock {
  color: rgba(255, 214, 0, 0.6);
}
.sec2 .sec2-container__rightSide__bottom .list-product .product__right__bottom a {
  color: rgb(196, 196, 196);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__nums {
  position: absolute;
  bottom: 76px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 .sec2-container__rightSide__nums .box {
  width: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 30px;
  border: 0.13rem solid rgba(234, 131, 5, 0.69);
  border-radius: 0.31rem;
}
.sec2 .sec2-container__rightSide__nums .firstElement {
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.sec2 .sec2-container__rightSide__nums .last {
  color: rgb(255, 255, 255);
  font-family: "ABeeZee";
  font-size: 1.13rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.sec2 .sec2-container__rightSide__nums .start {
  margin-left: 30px;
  margin-right: 52px;
  margin-top: 4px;
}
.sec2 .sec2-container__rightSide__nums .start img {
  max-width: 8px;
  transform: rotate(180deg);
}
.sec2 .sec2-container__rightSide__nums ul {
  display: flex;
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .sec2-container__rightSide__nums ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 1.13rem;
  font-weight: 400;
}
.sec2 .sec2-container__rightSide__nums .finish {
  margin-right: 30px;
  margin-left: 52px;
  margin-top: 4px;
}
.sec2 .sec2-container__rightSide__nums .finish img {
  max-width: 8px;
}

.sec3 {
  background: #131218;
}
.sec3__container {
  max-width: 1060px;
  margin: 0 auto;
}
.sec3__container__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec3__container__center__leftSide {
  position: relative;
  margin-bottom: 15px;
}
.sec3__container__center__leftSide img {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-33%, 0);
}
.sec3__container__center__leftSide .player {
  position: relative;
  z-index: 1;
  max-width: 35.5rem;
  max-height: 19.19rem;
  padding-top: 74px;
  padding-bottom: 74px;
}
.sec3__container__center__rightSide {
  margin-top: -10px;
}
.sec3__container__center__rightSide h2 {
  width: 100%;
  max-width: 450px;
  color: rgb(255, 255, 255);
  font-family: "ABeeZee";
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.19rem;
  text-transform: uppercase;
}
.sec3__container__center__rightSide ul {
  margin-top: 30px;
}
.sec3__container__center__rightSide ul li {
  display: flex;
  align-items: center;
}
.sec3__container__center__rightSide ul li img {
  margin-right: 13px;
}
.sec3__container__center__rightSide ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-family: "OpenSans";
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2.19rem;
  letter-spacing: 0.5px;
}
.sec3__container__bottom {
  padding-bottom: 25px;
}
.sec3__container__bottom p {
  max-width: 1000px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.88rem;
}
.sec3__container__bottom .short {
  display: none;
}
.sec3__container__bottom a {
  color: #CC7408;
  font-family: "ABeeZee";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 2.19rem;
}

footer {
  background: #131218;
  padding-top: 31px;
  border-top: 0.13rem solid rgb(36, 36, 36);
}
footer .mobileContent {
  display: none;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content .leftSide .main {
  margin-bottom: 54px;
}
footer .content .leftSide .main img {
  margin-left: -13px;
}
footer .content .leftSide .main p {
  color: white;
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.44rem;
  letter-spacing: 0;
}
footer .content .leftSide .quetions {
  padding-bottom: 20px;
}
footer .content .leftSide .quetions .tel {
  padding-bottom: 40px;
}
footer .content .leftSide .quetions .tel p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0;
  padding-bottom: 20px;
}
footer .content .leftSide .quetions .tel a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 0rem;
  letter-spacing: 3px;
}
footer .content .leftSide .quetions .schedule p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0;
  padding-bottom: 15px;
}
footer .content .leftSide .quetions .schedule a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
}
footer .content .leftSide .Media ul {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}
footer .content .leftSide .Media ul li {
  margin-right: 20px;
  filter: brightness(70%);
}
footer .content .leftSide .payment {
  padding-bottom: 167px;
}
footer .content .leftSide .payment p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0;
  padding-bottom: 15px;
}
footer .content .leftSide .payment ul {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}
footer .content .leftSide .payment ul .otstup {
  margin-right: 2px;
}
footer .content .leftSide .confid {
  max-width: 24.75rem;
}
footer .content .leftSide .confid p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
}
footer .content .RightSide {
  display: flex;
  flex-direction: column;
}
footer .content .RightSide .top {
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}
footer .content .RightSide .top .catalog {
  margin-right: 45px;
}
footer .content .RightSide .top .catalog h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .catalog ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}
footer .content .RightSide .top .service {
  margin-right: 63px;
}
footer .content .RightSide .top .service h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .service ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}
footer .content .RightSide .top .services h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .services ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}

@media (max-width: 1150px) {
  .container {
    max-width: 870px;
  }
  .listMenu {
    display: none !important;
  }
  .sec2 .sec2-container__rightSide__top {
    max-width: 740px;
  }
  .sec2 .sec2-container__rightSide__top p {
    font-size: 0.66rem;
    line-height: 0 !important;
  }
  .sec2 .sec2-container__rightSide__top label {
    font-size: 0.7rem;
  }
  .sec3__container {
    max-width: 870px;
  }
  .sec3__container__center__leftSide iframe {
    max-width: 26.5rem !important;
    max-height: 15rem !important;
  }
  .sec3__container__center__leftSide img {
    max-width: 685px;
  }
  .sec3__container__center__rightSide {
    max-width: 400px;
  }
  .sec3__container__center__rightSide h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 750px !important;
  }
  header .header_center {
    display: none !important;
  }
  .sec2 .sec2-container {
    flex-direction: column;
  }
  .sec2 .sec2-container__rightSide {
    width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  .sec2 .sec2-container__rightSide__top {
    display: flex;
    justify-content: center;
    max-width: unset !important;
  }
  .sec2 .sec2-container__rightSide__bottom {
    margin-right: 0;
  }
  .sec2 .sec2-container__rightSide__bottom .products {
    justify-content: center;
    margin-right: 0;
  }
  .sec3__container {
    max-width: 740px;
  }
  .sec3__container__center__rightSide {
    max-width: 290px;
  }
  .sec3__container__center__rightSide h2 {
    font-size: 1.5rem;
  }
  footer .container {
    max-width: 750px;
  }
  footer .container .content {
    display: block;
  }
  footer .container .content .leftSide .main {
    margin-bottom: 200px;
  }
  footer .container .content .leftSide .main p {
    display: none;
  }
  footer .container .content .RightSide .top {
    justify-content: unset;
    margin-top: -650px;
  }
  footer .container .content .RightSide .iphone {
    display: none;
  }
}
@media (max-width: 800px) {
  .container {
    margin: 0 20px;
  }
  .sec2 .sec2-container__leftSide .filtersButton {
    display: block;
    width: 117px;
    height: 22px;
    border-radius: 0.31rem;
    background: rgba(216, 119, 0, 0.74);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    color: rgb(196, 196, 196);
    font-family: "OpenSans";
    font-size: 0.88rem;
    font-weight: 400;
  }
  .sec2 .sec2-container__rightSide {
    justify-content: left !important;
  }
  .sec2 .sec2-container__rightSide__top {
    display: block;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort {
    display: block;
    justify-content: left !important;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "ABeeZee";
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: -3px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort label {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    align-items: center;
    margin-bottom: 20px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort label span {
    width: 25px;
    height: 25px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort label .checkbox {
    display: none;
    background-color: #3B3A40;
    box-sizing: border-box;
    border: 0.06rem solid rgb(161, 160, 163);
    border-radius: 0.31rem;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort label .fake::before {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    display: inline-block;
    box-sizing: border-box;
    border: 0.06rem solid rgb(161, 160, 163);
    border-radius: 0.31rem;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort label .checkbox:checked + .fake::before {
    border-color: #CC7408;
    background-image: url("../../img/catalogImg/section2/check-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort .sort-list {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort .sort-list P {
    margin-bottom: 0;
    margin-left: 0;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort .sort-number {
    margin-bottom: 20px;
  }
  .sec2 .sec2-container__rightSide__top .mobileSort .sort-number P {
    margin-bottom: 0;
    margin-left: 0;
  }
  .sec2 .sec2-container__rightSide__top .center {
    display: none;
  }
  .sec3__container {
    margin: 0 30px;
  }
  .sec3__container__center__leftSide iframe {
    max-width: 21rem !important;
    max-height: 12rem !important;
  }
  .sec3__container__center__leftSide img {
    max-width: 600px;
    margin-left: -20px;
  }
  .sec3__container__center__rightSide {
    max-width: 300px;
    z-index: 1;
  }
  .sec3__container__center__rightSide h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 730px) {
  .sec2 .sec2-container__rightSide__bottom {
    margin-bottom: 65px;
  }
  .sec2 .sec2-container__rightSide__nums {
    bottom: 0;
  }
  .sec3__container__center {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .sec3__container__center__leftSide {
    margin-top: 75px;
  }
  .sec3__container__center__leftSide .player {
    width: 17.69rem;
    height: 11.3rem;
  }
  .sec3__container__center__leftSide img {
    width: 480px;
    margin-top: -20px;
    top: -25px;
  }
  .sec3__container__center__rightSide {
    margin-top: -180px;
  }
  .sec3__container__center__rightSide h2 {
    margin-top: -170px;
  }
  .sec3__container__center__rightSide ul {
    margin-top: 200px;
    margin-bottom: 22px;
  }
  footer {
    border-top: unset;
  }
  footer .content {
    display: none !important;
  }
  footer .mobileContent {
    display: unset !important;
  }
  footer .container {
    max-width: 580px;
  }
  footer .container .main {
    margin-left: -5px;
    margin-bottom: 10px;
  }
  footer .container .list {
    display: flex;
    justify-content: space-between;
  }
  footer .container .list .catalog h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .catalog ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .service h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .service ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .services h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .services ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .quetions {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  footer .container .quetions .tel {
    padding-bottom: 40px;
  }
  footer .container .quetions .tel p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .tel a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .quetions .schedule p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .schedule a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .Media {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  footer .container .Media ul {
    width: 14.56rem;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 550px) {
  .header__headerContainer {
    margin: 0 20px;
  }
  .header__headerContainer__between {
    display: flex;
    align-items: center;
  }
  .header__headerContainer__between__left {
    margin: unset;
  }
  .header__headerContainer__between__left .your_city {
    display: none !important;
  }
  .header__headerContainer__between__left .city {
    color: rgba(255, 255, 255, 0.3);
  }
  .header__headerContainer__between__right {
    margin: unset;
  }
  .header__headerContainer__between__right p {
    display: none;
  }
  .header__headerContainer__between__right a {
    margin: unset;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 3px;
  }
  .sec1 .container .content {
    height: 150px;
  }
  .sec1 .container .content .right .burgerButton {
    display: block !important;
    margin-left: 15px;
  }
  .sec2 .products {
    display: none !important;
  }
  .sec2 .mobileProducts {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 103px);
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 30px;
  }
  .sec2 .mobileProducts .product {
    height: 217px;
    width: 103px;
    background-color: transparent;
    overflow: hidden;
  }
  .sec2 .mobileProducts .product__imgContainer {
    width: 102px;
    height: 141px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .sec2 .mobileProducts .product__imgContainer__img {
    cursor: pointer;
    width: 102px;
    height: 141px;
    transition: 0.1s ease;
  }
  .sec2 .mobileProducts .product .product__imgContainer__img:hover {
    transform: scale(1.1);
  }
  .sec2 .mobileProducts .product .content .name {
    color: rgb(196, 196, 196);
    font-family: "ABeeZee";
    font-size: 0.88rem;
    font-weight: 400;
  }
  .sec2 .mobileProducts .product .content__bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
  }
  .sec2 .mobileProducts .product .content__bottom .count {
    margin-bottom: 3px;
  }
  .sec2 .mobileProducts .product .content__bottom .count .price {
    color: rgb(255, 255, 255);
    font-family: "ABeeZee";
    font-size: 0.88rem;
    font-weight: 400;
  }
  .sec2 .mobileProducts .product .content__bottom .score {
    margin-right: 15px;
  }
  .sec2 .mobileProducts .product .content__bottom .score img {
    width: 35px;
    height: 7px;
  }
  .sec2 .mobileProducts .product .content__bottom .score p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "ABeeZee";
    font-size: 0.63rem;
    font-weight: 400;
  }
  .sec2 .sec2-container__rightSide__nums .box {
    width: 15px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 30px;
    border: 0.13rem solid rgba(234, 131, 5, 0.69);
    border-radius: 0.31rem;
  }
  .sec2 .sec2-container__rightSide__nums .firstElement {
    color: rgba(255, 255, 255, 0.6);
    font-family: "ABeeZee";
    font-size: 0.63rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .sec2 .sec2-container__rightSide__nums .last {
    color: rgb(255, 255, 255);
    font-family: "ABeeZee";
    font-size: 0.63rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  .sec2 .sec2-container__rightSide__nums .start {
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 4px;
  }
  .sec2 .sec2-container__rightSide__nums .start img {
    max-width: 8px;
    transform: rotate(180deg);
  }
  .sec2 .sec2-container__rightSide__nums ul {
    display: flex;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec2 .sec2-container__rightSide__nums ul li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: "ABeeZee";
    font-size: 0.63rem;
    font-weight: 400;
  }
  .sec2 .sec2-container__rightSide__nums .finish {
    margin-right: 25px;
    margin-left: 5px;
    margin-top: 4px;
  }
  .sec2 .sec2-container__rightSide__nums .finish img {
    max-width: 8px;
  }
  .sec3 .short {
    display: block !important;
  }
  .sec3 .long {
    display: none !important;
  }
}/*# sourceMappingURL=catalog.css.map */