* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
}

@font-face {
  font-family: "ABeeZeeItalic";
  src: url("../../fonts/ABeeZee/ABeeZee-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "ABeeZee";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Abhaya Libre";
  src: url("../../fonts/Abhaya/AbhayaLibre-Bold.ttf");
}
@font-face {
  font-family: "DoppioOne";
  src: url("../../fonts/DoppioOne/DoppioOne-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/Sans/Sans-Regular.ttf");
}
@font-face {
  font-family: "Sansation";
  src: url("../../fonts/Sansation/Sansation_Regular.ttf");
}
@font-face {
  font-family: "Taprom";
  src: url("../../fonts/Taprom/Taprom-Regular.ttf");
}
.hidden {
  display: none !important;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.BackToStartPage {
  position: fixed;
  bottom: 20px;
  right: -120px;
  z-index: 10;
  transition: 0.5s ease;
}

.header {
  width: 100%;
  background-color: #131218;
  display: flex;
  border-bottom: 0.06rem solid rgb(36, 36, 36);
}
.header__headerContainer {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.header__headerContainer__between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__headerContainer__between__left {
  display: flex;
  margin-left: 42px;
  margin-top: 13px;
}
.header__headerContainer__between__left .your_city {
  color: rgba(255, 255, 255, 0.13);
  font-family: "Roboto";
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 0.94rem;
  text-align: center;
  margin-right: 10px;
}
.header__headerContainer__between__left .city {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 0.94rem;
}
.header__headerContainer__between__right {
  display: flex;
  align-items: center;
  margin-right: 42px;
  margin-top: 13px;
}
.header__headerContainer__between__right .phone {
  margin-right: 6px;
}
.header__headerContainer__between__right a {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
  margin-right: 14.5px;
}
.header__headerContainer__between__right p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.header__headerContainer__between__right .everyDay {
  margin-right: 14.5px;
}
.header__headerContainer .header_center {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.header__headerContainer .header_center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 262px;
}
.header__headerContainer .header_center ul li {
  max-width: 262px;
  align-items: center;
}

.sec1 {
  background-color: #131218;
}
.sec1 .mobile {
  display: none;
}
.sec1 .mobile .burger__container {
  max-width: 90vw;
  margin: 0 auto;
}
.sec1 .mobile .burger__container__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.sec1 .mobile .burger__container__top__left img {
  margin-left: -5px;
}
.sec1 .mobile .burger__container__top__left P {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Roboto";
  font-size: 0.56rem;
  font-weight: 400;
  line-height: 0.69rem;
}
.sec1 .mobile .burger__container__bottom {
  display: flex;
  flex-direction: column;
  padding-bottom: 287px;
}
.sec1 .mobile .burger__container__bottom__big_ul {
  margin-bottom: 10px;
}
.sec1 .mobile .burger__container__bottom__big_ul li:first-child a {
  color: rgb(234, 131, 5);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.31rem;
}
.sec1 .mobile .burger__container__bottom__big_ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.31rem;
}
.sec1 .mobile .burger__container__bottom__small_ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.63rem;
  font-weight: 400;
  line-height: 0.75rem;
}
.sec1 .content {
  display: flex;
  justify-content: space-between;
  padding-top: 76.5px;
  padding-bottom: 112px;
  position: relative;
}
.sec1 .content__left button {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 0.88rem;
}
.sec1 .content__left button img {
  margin-right: 8px;
}
.sec1 .content__right .favourites {
  margin-right: 37px;
}
.sec1 .center__up {
  display: flex;
  justify-content: center;
}
.sec1 .center__up__logo {
  position: absolute;
  top: 1vh;
}
.sec1 .center__bottom {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 22px;
}
.sec1 .center__bottom ul {
  display: flex;
  width: 100%;
  max-width: 608px;
  justify-content: space-between;
}
.sec1 .center__bottom ul li {
  max-width: 608px;
  display: flex;
}
.sec1 .center__bottom ul li a {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}
.sec1 .center__bottom ul li button {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.06rem;
}

.sec2 {
  background-color: #131218;
}
.sec2 .container_slider {
  margin: 0 auto;
}
.sec2 .slider {
  overflow: hidden;
  position: relative;
}
.sec2 .slider .slides {
  transition: 0.8s ease-in-out;
  display: flex;
  position: relative;
  left: 0;
}
.sec2 .slider .slides .slide1 {
  width: 100vw;
  position: relative;
}
.sec2 .slider .slides .slide1 img {
  width: 100vw;
}
.sec2 .slider .slides .slide1 .text {
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -70%);
}
.sec2 .slider .slides .slide1 .text h2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 40px;
}
.sec2 .slider .slides .slide1 .text p {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}
.sec2 .slider .slides .slide2 {
  width: 100vw;
  position: relative;
}
.sec2 .slider .slides .slide2 img {
  width: 100vw;
}
.sec2 .slider .slides .slide2 .text {
  max-width: 325px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -60%);
}
.sec2 .slider .slides .slide2 .text h2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.sec2 .slider .slides .slide2 .text p {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}
.sec2 .slider .slides .slide3 {
  width: 100vw;
  position: relative;
}
.sec2 .slider .slides .slide3 img {
  width: 100vw;
}
.sec2 .slider .slides .slide3 .text {
  max-width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -60%);
}
.sec2 .slider .slides .slide3 .text h2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.sec2 .slider .slides .slide3 .text p {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}
.sec2 .slider .slides .slide4 {
  width: 100vw;
  position: relative;
}
.sec2 .slider .slides .slide4 img {
  width: 100vw;
}
.sec2 .slider .slides .slide4 .text {
  max-width: 325px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -60%);
}
.sec2 .slider .slides .slide4 .text h2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0%;
  margin-bottom: 35px;
  margin-top: 5px;
}
.sec2 .slider .slides .slide4 .text p {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}
.sec2 .slider__buttons {
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translate(0, -50%);
}
.sec2 .slider__buttons__img {
  width: 100%;
  max-width: 1130px;
  display: flex;
  justify-content: space-between;
}
.sec2 .mobile {
  display: none;
  justify-content: center;
}
.sec2 .mobile .detalid {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.sec2 .mobile .detalid button {
  width: 40vw;
  height: 22px;
  border-radius: 0.31rem;
  background: rgba(216, 119, 0, 0.74);
  color: rgb(255, 255, 255);
  font-family: "Sansation";
  font-size: 0.69rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.sec3 .blue-bg {
  background-color: #131218;
  padding-bottom: 585px;
}
.sec3 .blue-bg .part1 {
  position: relative;
  display: flex;
  justify-content: center;
}
.sec3 .blue-bg .part1 .tabs {
  margin-top: 60px;
  position: absolute;
  display: grid;
  grid-template-columns: minmax(0, 520px) minmax(0, 520px);
  grid-template-rows: 295.5px 295.5px;
  row-gap: 33.35px;
  -moz-column-gap: 19px;
       column-gap: 19px;
}
.sec3 .blue-bg .part1 .tabs .tab-txt {
  color: rgb(255, 255, 255);
  font-family: "OpenSans";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.sec3 .blue-bg .part1 .tabs .tab1 {
  position: relative;
  transition: 0.2s ease;
}
.sec3 .blue-bg .part1 .tabs .tab1 .bg {
  border-radius: 20px;
  background: url("../../img/indexImg/section3/tabs/tab1-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  max-height: 296px;
  filter: brightness(50%);
}
.sec3 .blue-bg .part1 .tabs .tab1 .bg button {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 296px;
}
.sec3 .blue-bg .part1 .tabs .tab1 .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec3 .blue-bg .part1 .tabs .tab1 .content img {
  margin-bottom: 35px;
}
.sec3 .blue-bg .part1 .tabs .tab1:hover {
  z-index: 1;
  transform: scale(1.1);
}
.sec3 .blue-bg .part1 .tabs .tab2 {
  position: relative;
  transition: 0.2s ease;
}
.sec3 .blue-bg .part1 .tabs .tab2 .bg {
  border-radius: 20px;
  background: url("../../img/indexImg/section3/tabs/tab2-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  max-height: 296px;
  filter: brightness(50%);
}
.sec3 .blue-bg .part1 .tabs .tab2 .bg button {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 296px;
}
.sec3 .blue-bg .part1 .tabs .tab2 .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec3 .blue-bg .part1 .tabs .tab2 .content img {
  margin-bottom: 35px;
}
.sec3 .blue-bg .part1 .tabs .tab2:hover {
  z-index: 1;
  transform: scale(1.1);
}
.sec3 .blue-bg .part1 .tabs .tab3 {
  position: relative;
  transition: 0.2s ease;
}
.sec3 .blue-bg .part1 .tabs .tab3 .bg {
  border-radius: 20px;
  background: url("../../img/indexImg/section3/tabs/tab3-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  max-height: 296px;
  filter: brightness(50%);
}
.sec3 .blue-bg .part1 .tabs .tab3 .bg button {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 296px;
}
.sec3 .blue-bg .part1 .tabs .tab3 .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec3 .blue-bg .part1 .tabs .tab3 .content img {
  margin-bottom: 35px;
}
.sec3 .blue-bg .part1 .tabs .tab3:hover {
  z-index: 1;
  transform: scale(1.1);
}
.sec3 .blue-bg .part1 .tabs .tab4 {
  position: relative;
  transition: 0.2s ease;
}
.sec3 .blue-bg .part1 .tabs .tab4 .bg {
  border-radius: 20px;
  background: url("../../img/indexImg/section3/tabs/tab4-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100%;
  max-height: 296px;
  filter: brightness(50%);
}
.sec3 .blue-bg .part1 .tabs .tab4 .bg button {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 296px;
}
.sec3 .blue-bg .part1 .tabs .tab4 .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec3 .blue-bg .part1 .tabs .tab4 .content img {
  margin-bottom: 35px;
}
.sec3 .blue-bg .part1 .tabs .tab4:hover {
  z-index: 1;
  transform: scale(1.1);
}
.sec3 .orange-bg {
  background: #CC7408;
  padding-top: 150px;
}
.sec3 .orange-bg .marcks {
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
  grid-template-columns: 109px 160px 189px 128px 191px;
  grid-template-rows: 113px 155px;
  align-items: center;
  justify-content: space-between;
}
.sec3 .orange-bg .mobileMarcks {
  display: none;
}

.sec4 {
  background-color: #131218;
}
.sec4 h1 {
  display: flex;
  justify-content: center;
  padding-top: 86px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  font-family: "Open Sans";
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.19rem;
}
.sec4 .border {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.sec4 .border .line {
  width: 100%;
  max-width: 300px;
  border-bottom: 0.13rem solid rgb(216, 119, 0);
}
.sec4 .slider {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.sec4 .slider .over-hidden {
  overflow: hidden;
}
.sec4 .slider__slides {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 940px;
  transition: 0.5s ease-in-out;
  left: 0;
}
.sec4 .slider__slides .firstSlide {
  margin-left: 20px;
}
.sec4 .slider__slides .product {
  margin-right: 20px;
  background-color: #3B3A40;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}
.sec4 .slider__slides .product__img {
  width: 220px;
  height: 245px;
}
.sec4 .slider__slides .product .content {
  margin-left: 13px;
}
.sec4 .slider__slides .product .content .type {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.sec4 .slider__slides .product .content .name {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20.15px;
}
.sec4 .slider__slides .product .content__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.sec4 .slider__slides .product .content__bottom .count .price {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec4 .slider__slides .product .content__bottom .count .price:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(177, 176, 179);
  transform: rotate(10deg);
}
.sec4 .slider__slides .product .content__bottom .count .sale-price {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
}
.sec4 .slider__slides .product .content__bottom .score {
  margin-right: 15px;
}
.sec4 .slider__slides .product .content__bottom .score p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec4 .slider__slides .product-last {
  background-color: #3B3A40;
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
}
.sec4 .slider__slides .product-last__img {
  width: 220px;
  height: 245px;
}
.sec4 .slider__slides .product-last .content {
  margin-left: 13px;
}
.sec4 .slider__slides .product-last .content .type {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  margin-bottom: 4px;
}
.sec4 .slider__slides .product-last .content .name {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20.15px;
}
.sec4 .slider__slides .product-last .content__bottom {
  display: flex;
  justify-content: space-between;
}
.sec4 .slider__slides .product-last .content__bottom .count .price {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec4 .slider__slides .product-last .content__bottom .count .price:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(177, 176, 179);
  transform: rotate(10deg);
}
.sec4 .slider__slides .product-last .content__bottom .count .sale-price {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
}
.sec4 .slider__slides .product-last .content__bottom .score {
  margin-right: 15px;
}
.sec4 .slider__slides .product-last .content__bottom .score p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
}
.sec4 .slider__slides .slide1 {
  display: flex;
}
.sec4 .slider__slides .slide2 {
  display: flex;
}
.sec4 .slider__slides .slide3 {
  display: flex;
}
.sec4 .slider__slides .slide4 {
  display: flex;
}
.sec4 .slider__button {
  position: absolute;
  display: flex;
  width: 100%;
  top: 50%;
  align-items: center;
}
.sec4 .slider__button .leftButton {
  position: absolute;
  left: 0;
}
.sec4 .slider__button .rightButton {
  position: absolute;
  right: 0;
}
.sec4 .slider__indicates {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  padding-bottom: 65px;
}
.sec4 .slider__indicates .indicate {
  width: 40px;
  height: 5px;
  background-color: #3B3A40;
  margin-right: 20px;
}
.sec4 .slider__indicates .lastIndicate {
  width: 40px;
  height: 5px;
  background-color: #3B3A40;
}
.sec4 .slider__indicates .active {
  background-color: #C4C4C4;
}

.sec5 {
  background-color: #131218;
  padding-bottom: 134px;
}
.sec5 .plates-container {
  max-width: 938px;
  margin: 0 auto;
}
.sec5 .sec5-container {
  max-width: 1152px;
  margin: 0 auto;
}
.sec5 .BackToStartPage {
  display: flex;
  justify-content: end;
}
.sec5 h2 {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 2.25rem;
  font-weight: 400;
}
.sec5 .border {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.sec5 .border .line {
  width: 100%;
  max-width: 300px;
  border-bottom: 0.13rem solid rgb(216, 119, 0);
}
.sec5 .mobile-Plates {
  display: none;
}
.sec5 .plates {
  display: flex;
  justify-content: space-between;
}
.sec5 .plates .hidden {
  display: none;
}
.sec5 .plates .plates1 {
  position: relative;
  display: flex;
  justify-content: center;
  background: url("../../img/indexImg/section5/Studing-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
}
.sec5 .plates .plates1 .button {
  max-width: 300px;
  width: 100%;
}
.sec5 .plates .plates1 .button button {
  display: flex;
  justify-content: center;
  margin-top: 304px;
  max-width: 300px;
  width: 100%;
  padding: 30px 0px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.19rem;
  background: rgba(19, 18, 24, 0.8);
}
.sec5 .plates .plates1 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.sec5 .plates .plates1 .content .bg {
  position: absolute;
  background: rgba(19, 18, 24, 0.8);
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 310px;
}
.sec5 .plates .plates1 .content p {
  position: absolute;
  left: 32px;
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  max-height: 14.75rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.88rem;
  margin-top: 17px;
}
.sec5 .plates .plates1 .content button {
  display: flex;
  justify-content: center;
  margin-top: 310px;
  width: 100%;
  max-width: 300px;
  padding: 30px 0;
  color: #CC7408;
  color: rgb(234, 131, 5);
  background: rgba(19, 18, 24, 0.8);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 200;
  line-height: 1.88rem;
}
.sec5 .plates .plates2 {
  display: flex;
  justify-content: center;
  background: url("../../img/indexImg/section5/Service.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  position: relative;
}
.sec5 .plates .plates2 .button {
  max-width: 300px;
  width: 100%;
}
.sec5 .plates .plates2 .button button {
  display: flex;
  justify-content: center;
  margin-top: 304px;
  max-width: 300px;
  width: 100%;
  padding: 30px 0px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.19rem;
  background: rgba(19, 18, 24, 0.8);
}
.sec5 .plates .plates2 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.sec5 .plates .plates2 .content .bg {
  position: absolute;
  background: rgba(19, 18, 24, 0.8);
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 310px;
}
.sec5 .plates .plates2 .content p {
  position: absolute;
  left: 32px;
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  max-height: 14.75rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.88rem;
  margin-top: 17px;
}
.sec5 .plates .plates2 .content button {
  display: flex;
  justify-content: center;
  margin-top: 310px;
  width: 100%;
  max-width: 300px;
  padding: 30px 0;
  color: #CC7408;
  color: rgb(234, 131, 5);
  background: rgba(19, 18, 24, 0.8);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 200;
  line-height: 1.88rem;
}
.sec5 .plates .plates3 {
  position: relative;
  display: flex;
  justify-content: center;
  background: url("../../img/indexImg/section5/Fix.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
}
.sec5 .plates .plates3 .button {
  max-width: 300px;
  width: 100%;
}
.sec5 .plates .plates3 .button button {
  display: flex;
  justify-content: center;
  margin-top: 304px;
  max-width: 300px;
  width: 100%;
  padding: 30px 0px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.19rem;
  background: rgba(19, 18, 24, 0.8);
}
.sec5 .plates .plates3 .content {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.sec5 .plates .plates3 .content .bg {
  position: absolute;
  background: rgba(19, 18, 24, 0.8);
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 310px;
}
.sec5 .plates .plates3 .content p {
  position: absolute;
  left: 32px;
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  max-height: 14.75rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.88rem;
  margin-top: 17px;
}
.sec5 .plates .plates3 .content button {
  display: flex;
  justify-content: center;
  margin-top: 310px;
  width: 100%;
  max-width: 300px;
  padding: 30px 0;
  color: #CC7408;
  color: rgb(234, 131, 5);
  background: rgba(19, 18, 24, 0.8);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 200;
  line-height: 1.88rem;
}
.sec5 .plates .plates1:hover .content {
  visibility: visible;
  opacity: 1;
}
.sec5 .plates .plates1:hover .button {
  visibility: hidden;
}
.sec5 .plates .plates2:hover .content {
  visibility: visible;
  opacity: 1;
}
.sec5 .plates .plates2:hover .button {
  visibility: hidden;
}
.sec5 .plates .plates3:hover .content {
  visibility: visible;
  opacity: 1;
}
.sec5 .plates .plates3:hover .button {
  visibility: hidden;
}

.sec6 {
  position: relative;
  background: #131218;
  position: relative;
  padding-bottom: 141px;
}
.sec6 .bg {
  margin-left: -150px;
  position: relative;
}
.sec6 .bg .filter {
  position: absolute;
  top: 0;
  left: 0;
}
.sec6 .sec6-container {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.sec6 .sec6-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 43px;
  width: 100%;
  height: 100%;
  max-width: 620px;
  height: 258px;
  background-color: #FCF7F2;
  border-radius: 20px 20px;
}
.sec6 .sec6-container form .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}
.sec6 .sec6-container form .name .p1 {
  color: rgb(59, 58, 64);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 1.44rem;
}
.sec6 .sec6-container form .name h2 {
  margin-top: -10px;
  color: rgb(204, 116, 8);
  font-family: "Doppio One";
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.75rem;
}
.sec6 .sec6-container form .name .p2 {
  margin-top: -10px;
  color: rgb(191, 185, 177);
  font-family: "Roboto";
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.13rem;
  letter-spacing: 0%;
}
.sec6 .sec6-container form .input {
  display: flex;
  justify-content: center;
}
.sec6 .sec6-container form .input .inp {
  margin-right: 11px;
}
.sec6 .sec6-container form .input .inp input {
  width: 100%;
  height: 100%;
  max-width: 452px;
  height: 43px;
  border: 0;
  border-radius: 0.31rem;
  box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  background: rgb(242, 234, 224);
  text-indent: 20px;
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
}
.sec6 .sec6-container form .input .inp p {
  color: rgb(225, 220, 213);
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  margin-top: 6px;
}
.sec6 .sec6-container form .input button {
  width: 77px;
  max-height: 43px;
  background-color: #CC7408;
  border-radius: 0.31rem;
}

footer {
  background: #131218;
  padding-top: 31px;
  border-top: 0.13rem solid rgb(36, 36, 36);
}
footer .mobileContent {
  display: none;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content .leftSide .main {
  margin-bottom: 54px;
}
footer .content .leftSide .main img {
  margin-left: -13px;
}
footer .content .leftSide .main p {
  color: white;
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.44rem;
  letter-spacing: 0%;
}
footer .content .leftSide .quetions {
  padding-bottom: 20px;
}
footer .content .leftSide .quetions .tel {
  padding-bottom: 40px;
}
footer .content .leftSide .quetions .tel p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0%;
  padding-bottom: 20px;
}
footer .content .leftSide .quetions .tel a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 0rem;
  letter-spacing: 3px;
}
footer .content .leftSide .quetions .schedule p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0%;
  padding-bottom: 15px;
}
footer .content .leftSide .quetions .schedule a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
}
footer .content .leftSide .Media ul {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}
footer .content .leftSide .Media ul li {
  margin-right: 20px;
  filter: brightness(70%);
}
footer .content .leftSide .payment {
  padding-bottom: 167px;
}
footer .content .leftSide .payment p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0%;
  padding-bottom: 15px;
}
footer .content .leftSide .payment ul {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
}
footer .content .leftSide .payment ul .otstup {
  margin-right: 2px;
}
footer .content .leftSide .confid {
  max-width: 24.75rem;
}
footer .content .leftSide .confid p {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
}
footer .content .RightSide {
  display: flex;
  flex-direction: column;
}
footer .content .RightSide .top {
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}
footer .content .RightSide .top .catalog {
  margin-right: 45px;
}
footer .content .RightSide .top .catalog h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .catalog ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}
footer .content .RightSide .top .service {
  margin-right: 63px;
}
footer .content .RightSide .top .service h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .service ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}
footer .content .RightSide .top .services h2 {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 10px;
}
footer .content .RightSide .top .services ul li a {
  color: rgb(196, 196, 196);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.31rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .sec2 .slider__buttons__img {
    max-width: 900px;
  }
  .sec4 .container {
    max-width: 800px;
  }
  .sec4 .container .slider .over-hidden {
    max-width: 700px;
  }
  .sec6 .sec6-container {
    max-width: 880px;
  }
  .sec6 .bg {
    margin-left: -350px;
  }
}
@media (max-width: 900px) {
  .header__headerContainer .header_center {
    display: none;
  }
  .container {
    max-width: 700px;
  }
  .sec2 .slider__buttons__img {
    max-width: 600px;
  }
  .sec2 .slides .slide1 .text h2 {
    font-size: 2rem !important;
    margin-bottom: 10px !important;
  }
  .sec2 .slides .slide1 .text p {
    font-size: 1rem !important;
  }
  .sec2 .slides .slide2 .text h2 {
    font-size: 2rem !important;
    margin-bottom: 10px !important;
    line-height: 30px !important;
  }
  .sec2 .slides .slide2 .text p {
    font-size: 0.8rem !important;
  }
  .sec2 .slides .slide3 .text {
    max-width: 250px !important;
  }
  .sec2 .slides .slide3 .text h2 {
    font-size: 1.5rem !important;
    line-height: unset !important;
    margin-bottom: 10px !important;
  }
  .sec2 .slides .slide3 .text p {
    font-size: 0.8rem !important;
  }
  .sec2 .slides .slide4 .text {
    max-width: 250px !important;
  }
  .sec2 .slides .slide4 .text h2 {
    font-size: 1.5rem !important;
    line-height: unset !important;
    margin-bottom: 10px !important;
  }
  .sec2 .slides .slide4 .text p {
    font-size: 0.8rem !important;
  }
  .sec3 .blue-bg .container .part1 .tabs {
    margin-top: 30px;
  }
  .sec3 .orange-bg {
    padding-top: 90px;
  }
  .sec3 .orange-bg .marcks {
    grid-template-columns: minmax(0, 190px) minmax(0, 85px) minmax(0, 195px) !important;
    grid-template-rows: minmax(0, 132px) minmax(0, 127px) minmax(0, 111px) !important;
  }
  .sec3 .orange-bg .marcks .lastGrid {
    display: none;
  }
  .sec4 .container {
    max-width: 800px;
  }
  .sec4 .container .slider .over-hidden {
    max-width: 700px;
  }
  .sec5 .plates-container {
    max-width: 750px;
  }
  .sec5 .plates-container .plates .plates1 {
    max-width: 230px;
  }
  .sec5 .plates-container .plates .plates1 .content p {
    left: 15px;
  }
  .sec5 .plates-container .plates .plates2 {
    max-width: 230px;
  }
  .sec5 .plates-container .plates .plates2 .content p {
    left: 15px;
  }
  .sec5 .plates-container .plates .plates3 {
    max-width: 230px;
  }
  .sec5 .plates-container .plates .plates3 .content p {
    left: 15px;
  }
  .sec6 .sec6-container {
    max-width: 750px;
  }
  .sec6 .sec6-container form {
    max-width: 550px;
    height: 230px;
  }
  .sec6 .bg {
    margin-left: -600px;
  }
  footer .container {
    max-width: 700px;
  }
  footer .container .content {
    display: block;
  }
  footer .container .content .leftSide .main {
    margin-bottom: 200px;
  }
  footer .container .content .leftSide .main p {
    display: none;
  }
  footer .container .content .RightSide .top {
    justify-content: unset;
    margin-top: -650px;
  }
  footer .container .content .RightSide .iphone {
    display: none;
  }
}
@media (max-width: 750px) {
  header .BackToStartPage {
    display: none;
  }
  .container {
    max-width: 580px;
  }
  .sec4 .container {
    max-width: 650px;
  }
  .sec4 .container .slider .over-hidden {
    max-width: 460px;
  }
  .sec5 .sec5-container {
    max-width: 580px;
  }
  .sec5 .sec5-container .plates {
    display: none !important;
  }
  .sec5 .sec5-container .mobile-Plates {
    display: flex;
    justify-content: space-between;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide {
    width: 100%;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 button {
    background: url("../../img/indexImg/section5/mobile/Servises-bg.png");
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 280px;
    height: 170px;
    border-radius: 10px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 button {
    background: url("../../img/indexImg/section5/mobile/Servises-bg.png");
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 280px;
    height: 170px;
    border-radius: 10px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide {
    width: 100%;
    margin-top: 50px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 button {
    background: url("../../img/indexImg/section5/mobile/Servises-bg.png");
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 280px;
    height: 170px;
    border-radius: 10px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 button {
    background: url("../../img/indexImg/section5/mobile/Servises-bg.png");
    filter: brightness(50%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 280px;
    height: 170px;
    border-radius: 10px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  footer {
    border-top: unset;
  }
  footer .content {
    display: none !important;
  }
  footer .mobileContent {
    display: unset !important;
  }
  footer .container {
    max-width: 580px;
  }
  footer .container .main {
    margin-left: -5px;
    margin-bottom: 10px;
  }
  footer .container .list {
    display: flex;
    justify-content: space-between;
  }
  footer .container .list .catalog h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .catalog ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .service h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .service ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .services h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .services ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .quetions {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  footer .container .quetions .tel {
    padding-bottom: 40px;
  }
  footer .container .quetions .tel p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .tel a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .quetions .schedule p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .schedule a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .Media {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  footer .container .Media ul {
    width: 14.56rem;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 430px;
  }
  .header__headerContainer {
    max-width: 430px;
  }
  .header__headerContainer__between {
    display: flex;
    align-items: center;
  }
  .header__headerContainer__between__left {
    margin: unset;
  }
  .header__headerContainer__between__left .your_city {
    display: none !important;
  }
  .header__headerContainer__between__left .city {
    color: rgba(255, 255, 255, 0.3);
  }
  .header__headerContainer__between__right {
    margin: unset;
  }
  .header__headerContainer__between__right p {
    display: none;
  }
  .header__headerContainer__between__right a {
    margin: unset;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 3px;
  }
  .sec1 .default {
    display: none !important;
  }
  .sec1 .mobile {
    display: unset !important;
  }
  .sec1 .mobile .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sec1 .mobile .container .rightSide {
    display: flex;
    align-items: center;
  }
  .sec1 .mobile .container .rightSide button {
    margin-right: 10px;
  }
  .sec1 .mobile .container .rightSide a {
    margin-right: 10px;
  }
  .sec2 .slider .slides .slide1 .text {
    max-width: 100px;
  }
  .sec2 .slider .slides .slide1 .text h2 {
    font-size: 1rem !important;
    margin-bottom: -10px !important;
  }
  .sec2 .slider .slides .slide1 .text p {
    font-size: 0.5rem !important;
  }
  .sec2 .slider .slides .slide2 .text {
    max-width: 150px;
  }
  .sec2 .slider .slides .slide2 .text h2 {
    font-size: 1rem !important;
    line-height: 15px !important;
  }
  .sec2 .slider .slides .slide2 .text p {
    font-size: 0.5rem !important;
  }
  .sec2 .slider .slides .slide3 .text {
    max-width: 100px;
  }
  .sec2 .slider .slides .slide3 .text h2 {
    font-size: 0.9rem !important;
  }
  .sec2 .slider .slides .slide3 .text p {
    font-size: 0.5rem !important;
  }
  .sec2 .slider .slides .slide4 .text {
    max-width: 100px;
  }
  .sec2 .slider .slides .slide4 .text h2 {
    font-size: 1rem !important;
  }
  .sec2 .slider .slides .slide4 .text p {
    font-size: 0.5rem !important;
  }
  .sec2 .slider__buttons__img {
    max-width: 350px;
  }
  .sec2 .slider__buttons__img .next-button img {
    max-width: 10px;
  }
  .sec2 .slider__buttons__img .prev-button img {
    max-width: 10px;
  }
  .sec2 .mobile {
    display: flex !important;
  }
  .sec3 .blue-bg {
    padding-bottom: 255px;
  }
  .sec3 .blue-bg .part1 .tabs {
    margin-top: 30px;
    grid-template-columns: minmax(0, 200px) minmax(0, 180px);
    grid-template-rows: 102px 102px;
    row-gap: 33.35px;
    -moz-column-gap: 19px;
    column-gap: 19px;
  }
  .sec3 .blue-bg .part1 .tabs .tab1 {
    height: 120px;
    width: 180px;
  }
  .sec3 .blue-bg .part1 .tabs .tab1 .content button {
    margin: unset;
  }
  .sec3 .blue-bg .part1 .tabs .tab1 .content button img {
    margin: unset;
    width: 60px;
    height: 50px;
  }
  .sec3 .blue-bg .part1 .tabs .tab1 .content button p {
    font-size: 1rem;
  }
  .sec3 .blue-bg .part1 .tabs .tab2 {
    height: 120px;
    width: 180px;
  }
  .sec3 .blue-bg .part1 .tabs .tab2 .content button {
    margin: unset;
  }
  .sec3 .blue-bg .part1 .tabs .tab2 .content button img {
    margin: unset;
    width: 60px;
    height: 50px;
  }
  .sec3 .blue-bg .part1 .tabs .tab2 .content button p {
    font-size: 1rem;
  }
  .sec3 .blue-bg .part1 .tabs .tab3 {
    height: 120px;
    width: 180px;
  }
  .sec3 .blue-bg .part1 .tabs .tab3 .content button {
    margin: unset;
  }
  .sec3 .blue-bg .part1 .tabs .tab3 .content button img {
    margin: unset;
    width: 60px;
    height: 50px;
  }
  .sec3 .blue-bg .part1 .tabs .tab3 .content button p {
    font-size: 1rem;
  }
  .sec3 .blue-bg .part1 .tabs .tab4 {
    height: 120px;
    width: 180px;
  }
  .sec3 .blue-bg .part1 .tabs .tab4 .content button {
    margin: unset;
  }
  .sec3 .blue-bg .part1 .tabs .tab4 .content button img {
    margin: unset;
    width: 60px;
    height: 50px;
  }
  .sec3 .blue-bg .part1 .tabs .tab4 .content button p {
    font-size: 1rem;
  }
  .sec3 .orange-bg {
    padding-top: 50px;
  }
  .sec3 .orange-bg .container {
    max-width: 380px;
  }
  .sec3 .orange-bg .marcks {
    display: none !important;
  }
  .sec3 .orange-bg .mobileMarcks {
    padding-bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: minmax(0, 80px) minmax(0, 95px) minmax(0, 69px);
    grid-template-rows: minmax(0, 52px) minmax(0, 33px) minmax(0, 22px);
    row-gap: 20px;
  }
  .sec4 .container {
    max-width: 450px;
  }
  .sec4 .container .slider .over-hidden {
    max-width: 220px;
  }
  .sec5 {
    padding-bottom: 50px;
  }
  .sec5 .sec5-container {
    max-width: 430px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 button {
    max-width: 200px;
    height: 150px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 button {
    max-width: 200px;
    height: 150px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide {
    width: 100%;
    margin-top: 50px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 button {
    max-width: 200px;
    height: 150px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 button {
    max-width: 200px;
    height: 150px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec6 .bg {
    margin-left: -850px;
  }
  .sec6 .bg .bgImg {
    display: none;
  }
  .sec6 .sec6-container {
    justify-content: center;
  }
  .sec6 .sec6-container form {
    width: 21.25rem;
    height: 14.94rem;
  }
  .sec6 .sec6-container form .name {
    margin-bottom: 10px;
  }
  .sec6 .sec6-container form .name .p1 {
    font-size: 0.8rem;
  }
  .sec6 .sec6-container form .name h2 {
    font-size: 2rem;
  }
  .sec6 .sec6-container form .name .p2 {
    display: flex;
    text-align: center;
    font-size: 0.75rem;
  }
  .sec6 .sec6-container form .input {
    display: flex;
    justify-content: center;
  }
  .sec6 .sec6-container form .input .inp {
    margin: unset;
    width: 191px;
  }
  .sec6 .sec6-container form .input .inp input {
    max-width: 191px;
  }
  .sec6 .sec6-container form .input .inp p {
    text-align: center;
    font-size: 0.63rem;
    margin-right: -40px;
  }
  .sec6 .sec6-container form .input button {
    width: 45px;
  }
  footer {
    padding-top: 300px;
    border-top: unset;
  }
  footer .container {
    max-width: 350px;
  }
  footer .container .main {
    margin-left: -5px;
    margin-bottom: 10px;
  }
  footer .container .list {
    display: flex;
    justify-content: space-between;
  }
  footer .container .list .catalog h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .catalog ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .service h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .service ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .list .services h2 {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  footer .container .list .services ul li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.31rem;
  }
  footer .container .quetions {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  footer .container .quetions .tel {
    padding-bottom: 40px;
  }
  footer .container .quetions .tel p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .tel a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .quetions .schedule p {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 5px;
  }
  footer .container .quetions .schedule a {
    color: rgb(196, 196, 196);
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 0rem;
    letter-spacing: 1px;
  }
  footer .container .Media {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  footer .container .Media ul {
    width: 14.56rem;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 340px;
  }
  .header__headerContainer {
    max-width: 340px;
  }
  .sec2 .slider__buttons__img {
    max-width: 325px;
  }
  .sec3 .blue-bg .tabs {
    margin-left: 5px;
  }
  .sec3 .blue-bg .tabs .tab1 {
    width: 150px !important;
  }
  .sec3 .blue-bg .tabs .tab2 {
    width: 150px !important;
  }
  .sec3 .blue-bg .tabs .tab3 {
    width: 150px !important;
  }
  .sec3 .blue-bg .tabs .tab4 {
    width: 150px !important;
  }
  .sec3 .orange-bg .container {
    max-width: 320px;
  }
  .sec4 .container {
    max-width: 340px;
  }
  .sec5 {
    padding-bottom: 50px;
  }
  .sec5 .sec5-container {
    max-width: 340px !important;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 button {
    max-width: 141px;
    height: 102px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates1 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 button {
    max-width: 141px;
    height: 102px;
  }
  .sec5 .sec5-container .mobile-Plates .leftSide .plates2 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide {
    width: 100%;
    margin-top: 50px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 button {
    max-width: 141px;
    height: 102px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates3 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 button {
    max-width: 141px;
    height: 102px;
  }
  .sec5 .sec5-container .mobile-Plates .rightSide .plates4 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.19rem;
  }
  footer .container {
    max-width: 350px;
  }
}/*# sourceMappingURL=index.css.map */